Repository scarletstudio/transithealth, pull requests merged in 2021-08, with the labels that each got.

#148 Modal Search Result Grouping
  app/components/SearchableMetricSelector.js
  app/site/metrics.js
  app/styles/app.css
Labels: app, enhancement, stretch

#150 Disabilities transportation question
  api/endpoints/question.py
  api/questions/disabilities.py
  app/components/questions/DisabilitiesAndTransportation.js
  app/site/questions.js
  notebooks/mgarcia18/ADA vs Non-ADA  CTA Stops.ipynb
Labels: api, app, enhancement, stretch

#154 Disabilities question ada
  app/components/questions/DisabilitiesAndTransportation.js
  notebooks/mgarcia18/ADA vs Non-ADA  CTA Stops.ipynb
Labels: app, enhancement, stretch

#156 Corrected Modal Grouping Behavior
  app/components/SearchableMetricSelector.js
Labels: app, bug, stretch

#162 Cypress Setup
  app/cypress.json
  app/package-lock.json
  app/package.json
  app/tests/e2e/integration/sample_spec.js
  app/tests/e2e/support/commands.js
  app/tests/e2e/support/index.js
  app/yarn.lock
Labels: devtools, stretch

#158 Fix bug where removing metrics from timeline view then adding metrics causes an error.
  app/components/TimelineExplorer.js
Labels: app, bug

#161 Connect all points of a metric series, even if dates are missing
  app/components/TimelineExplorer.js
Labels: app, bug

#168 Initial Cypress Test Creation
  .gitignore
  app/cypress.json
  app/package.json
  app/tests/e2e/integration/timeline_test.js
  app/tests/e2e/plugins/index.js
  app/tests/e2e/support/commands.js
Labels: devtools, stretch

#169 Add GitHub Action for Cypress Integration Tests
  .github/workflows/cypress.yaml
  app/package.json
  app/tests/e2e/integration/timeline_test.js
Labels: devtools, stretch

#171 Fixes workflow for Github action
  .github/workflows/cypress.yaml
Labels: bug, devtools, stretch

#173 Added escooter to the app
  api/endpoints/community.py
  app/site/metrics.js
Labels: app, enhancement

#174 Upgrade Node version to 14
  app/dev.sh
  app/package-lock.json
  app/package.json
  run.sh
Labels: app, devtools, refactor

#177 Traffic intensity metric app
  app/site/metrics.js
  pipeline/tests/database_test.py
Labels: app, enhancement, pipeline

#178 Disabilities question cleanup
  app/components/questions/DisabilitiesAndTransportation.js
Labels: app

#179 added page with pi chart number of trips based on start
  app/components/questions/EscooterCity.js
  app/site/questions.js
Labels: app, enhancement

#182 RideTrips Branch Created, RideTrips files added
  api/endpoints/rideshare.py
  api/metrics/rideshare.py
  api/metrics/rideshare_test.py
  api/questions/ridetrips.py
  api/questions/ridetrips_test.py
  notebooks/wpurificacion/My Example Notebook.ipynb
Labels: enhancement, api

#183 Cypress Documentation
  app/README.md
  app/package.json
  app/tests/e2e/integration/sample_spec.js
  docs/README.md
  docs/pages/cypress.md
  docs/pages/testing.md
Labels: documentation, devtools, stretch

#185 Clean up home page and questions for launch
  app/components/Nav.js
  app/components/questions/CovidCasesPerRideshare.js
  app/components/questions/Sample.js
  app/pages/index.js
  app/pages/questions/[id].js
  app/site/questions.js
Labels: app, refactor

#186 Added insights for scatter graph
  app/site/insights.js
Labels: enhancement, app, stretch

#187 home page now display insights with functioning search
  app/components/InsightSearch.js
  app/pages/index.js
  app/site/insights.js
  app/styles/app.css
Labels: enhancement, app, stretch

#188 Cite sources for datasets on data explorer pages.
  app/pages/scatter.js
  app/pages/timeline.js
Labels: app

#190 Fix for Modal Closing when Input is Focused
  app/components/SearchableMetricSelector.js
Labels: bug, app, stretch

#192 Rideshare trips question added
  api/endpoints/question.py
  api/questions/rideshare_ohare.py
  api/questions/rideshare_ohare_test.py
  app/components/questions/RideshareTripsOHare.js
  app/site/questions.js
Labels: enhancement, app, api, stretch

#195 Added Text translation in Urdu
  app/components/questions/TrafficIntensity.js
Labels: enhancement, app, stretch, i18n

#196 Traffic intensity question urdu translation
  app/components/questions/TrafficIntensity.js
  app/site/questions.js
Labels: app

#198 Minor Searchbar Cosmetic Fix
  app/styles/app.css
Labels: bug, app, stretch
