Repository scarletstudio/transithealth, pull requests merged in 2021-07, with the labels that each got.

#25 Add documentation edits from mentor prep call.
  docs/pages/cloud9.md
  docs/pages/makefiles.md
  docs/pages/new_dataset.md
Labels: documentation

#52 Create my notebooks folder.
  notebooks/ashklover/My Example Notebook.ipynb
Labels: devtools

#46 Extract sidewalk cafe permit
  pipeline/Makefile
  pipeline/extract/sidewalk_cafe.sql
Labels: enhancement, pipeline

#54 Add run shortcuts for make, pytest, and sqlite.
  docs/pages/commands.md
  docs/pages/makefiles.md
  docs/pages/new_dataset.md
  run.sh
Labels: devtools, documentation, enhancement

#55 Add metric for total rideshare trips by part of city.
  api/endpoints/rideshare.py
  api/metrics/rideshare.py
  api/metrics/rideshare_test.py
Labels: api, enhancement

#59 Implement Timeline Metric for Belonging
  api/endpoints/weekly.py
  api/metrics/yearly.py
  api/metrics/yearly_test.py
  app/site/metrics.js
  pipeline/transform/belonging.py
Labels: api, enhancement

#56 Fixed axis left/right bugs on timeline.
  app/components/TimelineExplorer.js
Labels: app, bug

#68 Refactor timeline view to include metrics besides weekly
  api/endpoints/timeline.py
  api/metrics/weekly.py
  api/metrics/weekly_test.py
  api/metrics/yearly.py
  api/metrics/yearly_test.py
  api/server.py
  app/components/TimelineExplorer.js
  app/pages/explorer.js
  app/pages/timeline.js
  app/site/metrics.js
  docs/pages/new_endpoint.md
  docs/pages/tasks.md
Labels: api, app, refactor

#67 Metric implementation and metric test attempt for Rent Burdened Household
  api/metrics/rent_burdened.py
  api/metrics/rent_burdened_test.py
Labels: api, enhancement

#71 Create my notebooks folder.
  notebooks/lalkatout/My Example Notebook.ipynb
Labels: devtools

#83 Improve Frontend Belonging Formatting
  app/components/questions/BelongingRates.js
Labels: app, enhancement

#86 Minor naming changes for rent burdened household methods
  api/metrics/rent_burdened.py
  api/metrics/rent_burdened_test.py
Labels: api, refactor

#70 New options for run app: hotswap API and serve static site.
  api/dev.sh
  app/dev.sh
  docs/pages/commands.md
  notebooks/start.sh
  run.sh
Labels: devtools, documentation, enhancement

#94 Frontend Selector for Belonging Question
  app/components/questions/BelongingRates.js
Labels: app, enhancement

#103 Fix bug where changing metric causes scatter view tooltip to display NaN or crash the app
  app/components/CommunityScatterExplorer.js
Labels: app, bug

#108 Added 2 more years for Median Income metric
  api/endpoints/community.py
  app/site/metrics.js
Labels: api, app, enhancement

#111 updated transformed taxi data
  pipeline/load/taxi_trip.sql
  pipeline/transform/taxi_trips.py
Labels: enhancement, pipeline

#113 Belonging EDA
  notebooks/fabrego/belonging-eda.ipynb
Labels: api

#116 Frontend Belonging Solution for Burnside
  app/components/questions/BelongingRates.js
  app/site/questions.js
Labels: app, bug

#104 Hack to fix dates on timeline tooltip.
  app/components/TimelineExplorer.js
Labels: app, bug

#118 Update mkdir to not fail if directory exists.
  pipeline/Makefile
Labels: bug, pipeline

#120 Fix overflows of labels and blocks on scatter view.
  app/components/CommunityScatterExplorer.js
  app/pages/scatter.js
  app/site/metrics.js
  app/styles/app.css
Labels: app, bug

#119 Improve timeline view x-axis.
  app/components/TimelineExplorer.js
  app/styles/app.css
Labels: app, bug

#123 implementing logic with unit tests
  api/metrics/taxitrips.py
  api/metrics/taxitrips_test.py
  api/questions/taxitrips.py
Labels: api, enhancement

#125 Added new page detailing the new cybersecurity task
  docs/pages/headeraudit.md
Labels: documentation, security

#124 added metrics to community/scatter view
  api/endpoints/community.py
  api/endpoints/taxitrips.py
  api/metrics/community.py
  api/metrics/taxitrips.py
  api/metrics/taxitrips_test.py
  api/questions/taxitrips.py
  app/site/metrics.js
  pipeline/extract/taxi_trips.sql
Labels: api, app, enhancement

#132 Add sidewalk cafe chart
  app/components/questions/SidewalkCafePermitsYears.js
  app/site/questions.js
Labels: app, enhancement

#133 Create _document for Content-Security-Policy and other headers
  app/pages/_document.js
Labels: app, enhancement, security

#135 Metrics Selector Modal
  app/components/CommunityScatterExplorer.js
  app/components/SearchableMetricSelector.js
  app/styles/app.css
Labels: app, enhancement, stretch

#136 Implemented Search for Scatter modal
  app/components/SearchableMetricSelector.js
  app/components/TimelineExplorer.js
Labels: app, enhancement, stretch

#137 Add Contentsecuritypolicy header
  app/pages/_document.js
Labels: app, enhancement, security

#140 Modal Metrics Styling
  app/components/SearchableMetricSelector.js
  app/styles/app.css
Labels: app, stretch

#141 Remove 2000 Total Population Metric
  api/endpoints/community.py
  app/site/metrics.js
Labels: api, app, bug

#145 Search for sidewalk permits
  api/endpoints/question.py
  api/questions/sidewalk_search.py
  app/components/questions/SidewalkCafePermitSearch.js
  app/site/questions.js
  app/styles/app.css
Labels: api, app, enhancement, security
